{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Signup
{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" type="text/css" href=" {{url_for('.static', filename='404.css')}} ">

<body>
	 <div class="login-container  pt-3">
       
        <div class=" vertical-center text-center ">
          <div class="container">
            <div class="row">
              <div class="col-md-7 offset-md-3 p-5 ">
                
                  
                  <h1>404</h1>
                  <h2>Page note found</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      
                  
                  <button class="w-100 btn btn-lg btn-primary mb-4" type="button">Go back</button>
                 
                
              </div>
            </div>
          </div>
        </div>
        <div class="logo-container vertical-center">
            <img src="{{url_for('static', filename='./images/2 7.png')}}" align="middle" />
          </div>
      </div>
    
    
</body>


	

	




{% endblock %}